lib/
libs/
target/
src_managed/
project/boot/
project/plugins/project
bin/
gen/
.idea/.name
.idea/compiler.xml
.idea/libraries/SBT__com_badlogicgames_gdx_gdx_1_4_1_jar.xml
.idea/libraries/SBT__com_badlogicgames_gdx_gdx_backend_lwjgl_1_4_1_jar.xml
.idea/libraries/SBT__com_badlogicgames_gdx_gdx_platform_1_4_1_natives_desktop_jar.xml
.idea/libraries/SBT__com_badlogicgames_jlayer_jlayer_1_0_1_gdx_jar.xml
.idea/libraries/SBT__net_java_jinput_jinput_2_0_5_jar.xml
.idea/libraries/SBT__net_java_jinput_jinput_platform_2_0_5_natives_linux_jar.xml
.idea/libraries/SBT__net_java_jinput_jinput_platform_2_0_5_natives_osx_jar.xml
.idea/libraries/SBT__net_java_jinput_jinput_platform_2_0_5_natives_windows_jar.xml
.idea/libraries/SBT__net_java_jutils_jutils_1_0_0_jar.xml
.idea/libraries/SBT__net_sf_proguard_proguard_base_4_11_jar.xml
.idea/libraries/SBT__org_jcraft_jorbis_0_0_17_jar.xml
.idea/libraries/SBT__org_lwjgl_lwjgl_lwjgl_2_9_1_jar.xml
.idea/libraries/SBT__org_lwjgl_lwjgl_lwjgl_platform_2_9_1_natives_linux_jar.xml
.idea/libraries/SBT__org_lwjgl_lwjgl_lwjgl_platform_2_9_1_natives_osx_jar.xml
.idea/libraries/SBT__org_lwjgl_lwjgl_lwjgl_platform_2_9_1_natives_windows_jar.xml
.idea/libraries/SBT__org_lwjgl_lwjgl_lwjgl_util_2_9_1_jar.xml
.idea/libraries/SBT__org_scala_lang_scala_library_2_11_2_jar.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules/all-platforms-build.iml
.idea/modules/all-platforms.iml
.idea/modules/core-build.iml
.idea/modules/core.iml
.idea/modules/desktop-build.iml
.idea/modules/desktop.iml
.idea/sbt.xml
.idea/scala_compiler.xml
.idea/workspace.xml
